<h1>Impressum</h1>

<br>

<h4> Inhaber </h4>

<address>
	Max Mustermann <br>
	Musterstraße 12 <br>
	12345 Berlin
</address>

<h4> Kontakt </h4>

<address>
	Telefon: 123/12345678 <br>
	Telefax: 123/12345679 <br>
	e-Mail: e-Mail@mustermann.de <br>
	Website: localhost:3000/forum
</address>
