<%= render partial: "menue" %>

<h1>Neuste Posts</h1>

<table id = "postTable">
  <tr>
    <th>Post</th>
    <th>User</th>
    <th>Datum</th>
  </tr>
  <% @posts.each do |post| %>
      <% if post.created_at > (Time.now - 2.days) %>
          <tr>
            <td> <%= link_to post.title, topic_user_thread_posts_path(post.user_thread.topic, post.user_thread, anchor: post.id)%> </td>
            <td> <%= link_to post.user.email, show_user_path(post.user) %> </td>
            <td> <%= post.created_at %> </td>
          </tr>
      <% end %>
  <%end%>
</table>