<% @title = "Neuste Posts" %>
<h1>Neuste Posts</h1>

<table id = "postTable" class="table table-hover">
  <tr>
    <th>Post</th>
    <th>User</th>
    <th>Datum</th>
  </tr>
  <% @newPosts.each do |post| %>
      <% topic = post.user_thread.topic %>
      <% user_thread = post.user_thread %>
      <% user = post.user %>
      <tr>
        <td> <%= link_to post.title, topic_user_thread_posts_path(topic, user_thread, page: getPage(post), anchor:"post#{post.id}")%> </td>
        <td>
        <% unless user.nil? %>
         <%= link_to user.email, show_user_path(user) %> 
        <% else %>
        geloeschter User
        <% end %>
        </td>
        <td> <%= post.created_at %> </td>
      </tr>
  <%end%>
</table>