<h1>Spam Posts</h1>

<table id = "spamTable">
  <tr>
    <th>Spampost</th>
    <th>Spam ?</th>
  </tr>

  <% @posts.each do |post| %>
      <% if post.spam? %>
          <tr>
            <td> <%= post.title %> </td>
            <td> <%= link_to "Kein Spam", admins_nospam_path(post.id), method: :patch %> </td>
          </tr>
      <% end %>
  <% end %>
</table>