<%= render partial: "menue" %>

<h1>Threads</h1>

<table id = "threadTable">
  <tr>
    <th>Thread</th>
    <th>Löschen</th>
  </tr>

  <%  @userThread.each do |thread| %>
      <tr>
        <td> <%= link_to thread.title, topic_user_thread_posts_path(thread.topic, thread) %> </td>
        <td> <%= link_to "Löschen" , topic_user_thread_path(thread.topic,thread) , method: :delete %> </td>
      </tr>
  <% end %>
</table>