<%= render partial: "menue" %>

<h1>Topics</h1>

<table id = "topicTable">
  <tr>
    <th>Topic</th>
    <th>Löschen</th>
  </tr>

  <%  @topic.each do |topic| %>
      <tr>
        <td> <%= link_to topic.name, topic_user_threads_path(topic) %> </td>
        <td> <%= link_to "Löschen" , topic_path(topic) , method: :delete %> </td>
      </tr>
  <% end %>
</table>