<% @title = "Users" %>
<h1>Users</h1>

<table id = "userTable" class="table table-hover">
  <tr>
    <th>User-Email</th>
    <th>Löschen</th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td> <%= link_to user.email, show_user_path(user) %> </td>
        <td> <%= link_to "Löschen",admins_destroy_path(user.id), method: :delete %> </td>
      </tr>
  <% end %>
</table>