
<h1>Listing topics</h1>

<table class="table table-bordered table-striped"> 
      <tr> <th> </th> <th> Name </th>  <th> Threads </th> </tr>

    <% @topics.each do |topic| %>

      <tr>
        <td class = "topicTd"> <%= image_tag "ordner.png",class: "folder",size: "30x30" %> </td> <td class = "topicTd"td td class = "topicTd"> <p class = "topic" > <%= link_to topic.name, "/topics/#{topic.id}/user_threads",method: :get %>  </p> </td> <td class = "topicTd"> <%= topic.user_threads.all.count %> </td>
      </tr>
      
    <% end %>

    </table>


	<% if current_user.try(:admin?) %>

	<%= link_to 'New Topic', new_topic_path , class: "btn btn-success"%>


	<% end %>

