<div class = "container">
  <div class ="postHeader">
   <p class = "title"> <%= post.title %> </p> <p class = "name"> <%= post.user.email %> </p>
 </div>

 <div class = "postContent">
  <p> <%= post.content %> </p>
</div>
</div>