<div class = "container">

	<div class ="postHeader">
  		<p class = "title"> <%= post.title %> </p> 
  		<p class = "name"> <%= link_to post.user.email, show_user_path(post.user),class: "headerLink" %> </p>
 	</div>

	<div class = "postContent">
		<p> <%= post.content %> </p>
	</div>

	<%= render partial: "spam", locals: {post: post} %>
</div>