// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#userTable, #spamTable, #postTable , #threadTable , #topicTable {
	
	border: 2px solid black;
	border-collapse:collapse;

	

}


th {

	
	background-color:#2419B2;
	color:white;
	text-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 1px #888;
	border: 2px solid black;
}

#userTable td, #spamTable td, #postTable td , #threadTable td , #topicTable td {

	border: 2px solid black;

}