// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
	width:90%;
	height:80%;
	margin: 0 auto;
	padding:0;
	border: 1px solid #846FD7;
	box-shadow: 10px 10px 5px #888;
} 

.postHeader {

	width:100%;
	margin:0;
	padding:0;
	background-color:#1240AB;
	border-bottom:1px black solid;
	

}

.title {

	margin:0;
	padding:0;
	font-weight: bold;
	font-color:#FFCF00;
	color:#FFCF00;

}