// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 

 .topic {
 	font-size:40px;
 }

.folder {
	display:inline;
	align:left;
	float:left;
	margin-left:2px;
	margin-right:5px;
}

