// Place all the styles related to the userThreads controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


#userThreadTable {
	
	margin:0 auto;
	border-collapse:collapse;
	box-shadow: 10px 10px 5px #888;

}

.userThreadTd {

	border: 2px black solid;

}