<h1>Threads</h1>

<%= render partial: "user_threads", locals: { user_threads: @user_threads } %>

<br/>
<% if user_signed_in? %>
	<%= link_to 'New User thread', new_topic_user_thread_path , class: "btn btn-success" %>
<% end %>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>