<h1>Threads</h1>

<table class="table table-bordered table-striped">	
	<tr>
		<th></th>
		<th>Thread Name</th>
		<th>Neuster Post</th>
		<th>erstellt am</th>
		<th>Username</th>
		<th>Anzahl Posts</th>
	</tr>
	<%= render @user_threads %>
</table>

<br/>
<% if user_signed_in? %>
	<%= link_to 'New User thread', new_topic_user_thread_path , class: "btn btn-success" %>
<% end %>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
