<div id="footer">
 <nav class="navbar navbar-default">
   <ul class="nav navbar-nav">
     <li>
       <%= link_to "Impressum", impressum_path %>
     </li>

     <li>
       <% if current_user.try(:admin?) %>
           <%= link_to 'Admin' , admins_index_path, class: "headerLink" %>
       <% end %>
     </li>

   </ul>
 </nav>
</div>