<div id="mainHeader">
  <nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Forum', root_path, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="mainHeader_navbar">

      <ul class="nav navbar-nav">
        <li>
          <%= render partial: "layouts/login" %>
        </li>
      </ul>

      <ul class="nav pull-right">
        <li>
          <%= render partial: "layouts/search" %>
        </li>
      </ul>
    </div>

  </nav>
</div>
