<div id = "mainHeader">
	<p id= "headerText"> Header </p>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>	
	<%= render partial: "layouts/login" %>	<%= render partial: "layouts/admin" %>
</div>