<div id = "mainHeader">
  <!-- http://guides.rubyonrails.org/action_controller_overview.html -->
	<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <!-- Copy end -->

    <div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= render partial: "layouts/login" %></li>
		<li><%= render partial: "layouts/admin" %></li>
		<li><%= render partial: "layouts/search"%></li>
    </ul>
  </div>
</div>
