<% content_for :content do %>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="<%= show_current_user_path %>" >Profil</a>
        </li>
        <li>
          <a href="<%= show_user_threads_path %>" >My Threads</a>
        </li>
      </ul>
      <div class="tab-content">
          <%= yield %>
      </div>
    </div>
<% end %>

<%= render template: 'layouts/application' %>